{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet"> 
{% endblock %}
{% block content %}
<div class='conatiner'>
    <div class='row'>
        <h1>1 MINUTE!!</h1>
        
    </div>
    <div class="row">
        <div class="col-md-6" id ="about">
            <h3 class="head">ABOUT</h3>
            <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?
                In this website we are able to give you a chance to share your knowledge with people and also for your 1 minute knowledge to be shared
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://thumbs.gfycat.com/AnyAltruisticAnteater-size_restricted.gif">
        </div>
    </div>
    
</div>
{% endblock %}

