{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pitch.css')}}">
{% endblock %}

{% block content %}  
<div class="container">
    <div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(pitch_form) }}
        {{ simplemde.load }}
    </div>
   
    <div class="col-md-6">
    <h2>Your Pitch will be displayed here</h2>
    <div class="card-group">
    <div class="card">
        <div class="card header">
            {{ pitch }}
        </div>
        <div class="card-body">
            {{ comment }}
        </div>
        <div class="card-footer">
            {{ category }}
        </div>
       <p>Would you like to add a comment<a href='{{url_for('main.comments')}}'>Add comments</a>   
    </div>
    </div>
    </div>
</div>


{% endblock %}

